@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  max-width: 1440px;
  background-color:#16211B;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
h1 {
  color: #ffffff;
}

.subtitle {
    margin-top: 2rem;
    color: #ffffff;
}

.text {
    font-size: 2rem;
    text-decoration: underline;
}
.tarjeta {
    border-radius: 0.5em;
    border: none;
  margin-top: 2rem;
  background-color: #2e5be6;
  overflow: hidden;
}
.tarjeta:hover {
    transition: all 0.5s ease;
    transform: scale(1.05);
}

.link {
  color: #ffffff;
}

.link:hover {
  color: #16211b;
}

body {
    background-color: #11422A;
}
img {
    height: 150px;
}